bootstrap/compiled.php
vendor
assets/components
node_modules/
public/css
public/js
public/fonts
public/result
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject/
app/storage/uploads
