.banner {

	background-color: @primary;
	overflow: hidden;

	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		.container {
			display: flex;
		}

		img {
			bottom: 0;
			position: absolute;
		}

	}

	h1, h2 {
		color: #fff;
		word-wrap: break-word;
	}

	h1 {
		text-shadow: 5px 5px 0px darken(@primary, 10%);
		font-size: 5em;
		font-family: 'Oswald', sans-serif;
	}

	h2 {
		text-shadow: 3px 3px 0px darken(@primary, 10%);
		font-family:  'Lobster', cursive;
		font-size: 3em;

	}

	img {
		width: 100%;
	}
}
