.frequency-option {
  cursor: pointer;
  height: 45px;
  margin: 5px 0;
  display: table;
  width: 100%;
  border-bottom: 3px solid #fff;

  &:hover {
    background-color: #efefef;
  }

  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.frequency-selected {
  background-color: #efefef;
  border-bottom: 3px solid @flat-dark-blue;
}

#setFrequencies .modal-body {
  display: table;
}
