@import 'assets/components/bootstrap/less/bootstrap.less';
@import 'assets/components/bootstrap-select/less/bootstrap-select.less';
@import 'assets/components/font-awesome/less/font-awesome.less';
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import 'variables';
@import 'buttons';
@import 'tables';
@import 'navbar';
@import 'classes';

body {
	font-family: 'Open Sans', sans-serif;
}

select {
	width: 100%;
}

label {
	text-align: center;
	color: #525252;
	font-size: 16px;
	margin: auto 0;
	padding-bottom: 5px;
}

.form {
	margin: 30px 0px;
}

