.navbar {
	width: 100%;
	background-color: #16a085;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text,
.navbar-default .navbar-text a
{
	color: #fff;
	font-size: 14px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar p {
	padding: 0px 15px;
}
