
.navbar-hmcc {
  width: 100%;
  background-color: @flat-dark-blue;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0px;
  border: 0;
  margin-bottom: 0;


  .navbar-nav > li > a,
  {
    color: #fff;
    font-size: 1em;

    &:hover, &:active, &:focus {
      color: #fff;
      background-color: darken(@flat-dark-blue, 5%);
    }
  }
  .navbar-text,
  .navbar-text a {
    color: #fff;
    font-size: 1em;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  p {
    padding: 0px 15px;
  }

  .navbar-brand {
    padding: 0 15px;
    display: inline-table;
    img {
      height: 50px;
      display: block;
      width: 50px;
    }
  }

  .navbar-nav {

    @media only screen and (min-width: @screen-sm) {
      display: inline-flex;

      li {
        margin: auto 0;
      }
    }

    & > .open > a,
    & > .open > a:hover,
    & > .open > a:focus {
      background-color: darken(@flat-dark-blue, 10%);
      color: #fff;
    }
  }


  @media only screen and (max-width: @screen-sm) {
    .navbar-nav .open .dropdown-menu > li > a {
      color: #fff;

      &:hover, &:active, &:focus {
        background-color: darken(@flat-dark-blue, 5%);
        color: #fff;
      }

    }
  }
}

//.navbar .profile-icon {
//  height: 19px;
//}

